body {
    background-color: #007f5f;
    color: rgb(218, 224, 228);
    text-align: center;
}

h1 {
    font-size: 70px;
    margin-bottom: 0%;
    padding-top: 30px;

}

.head {
    background-color: #7d9407;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 25px;
}

.table {
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#tl, #tm, #tr, #mr, #mm, #mr {
    border-bottom: 2px solid black;
}

#tm {
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#topRow {
    border: 2px solid black;

}