table, tr, td {
    border: 2px solid whitesmoke;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

#date {
    width: 10em;
}

#description {
    width: 25em;
}

#amount {
    width: 10em;
}
body {
    background-color: #223843;
    text-align: center;
    color: antiquewhite;
}

#addBtn {
    margin: 10px;
}

input {
    margin-left: 10px;
    margin-right: 10px;
}

#getDescription{
    width: 30em;
}